[user]
	name = yceffort
	email = yceffort@gmail.com
[includeIf "gitdir:~/works/"]
	path = ~/.gitconfig-works
[credential "https://github.com"]
	useHttpPath = true
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	excludesfile = ~/.gitignore_global
	fileMode = false
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential]
	helper = store
